
<%provide(:title, "News")%>

<%= render 'layouts/nav_bar'%>
<main id="main" style="margin-top: 110px;">

	<!-- ======= Breadcrumbs ======= -->
	<section class="breadcrumbs">
		<div class="container">

			<ol>
				<li><a href="index.html">Home</a></li>
				<li>News</li>
			</ol>
			<h2>News</h2>

		</div>
	</section><!-- End Breadcrumbs -->

	<!-- ======= Blog Section ======= -->
	<section id="blog" class="blog">
		<div class="container" data-aos="fade-up">
			<div class="row">

				<div class="col-lg-12 entries">
					<div class="row">
						<% @news.each do |news|%>
							<div class="col-12 col-md-4">
								<article class="entry">
									<div class="entry-img">
										<%= image_tag news.image, alt: "", class: "img-fluid"%>
									</div>
									<h2 class="entry-title">
										<%= link_to news.title, news_path(news) %>
									</h2>
									<!-- <div class="entry-meta">
										<ul>
											<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
											<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
											<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
										</ul>
									</div> -->
									<div class="entry-content">
										<p>
											<%= news.overview%>
										</p>
										<div class="read-more">
											<%= link_to "Read More", news_path(news) %>
										</div>
									</div>

								</article><!-- End blog entry -->
							</div>
						<%end%>
					</div>

					<!-- <div class="blog-pagination">
						<ul class="justify-content-center">
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
						</ul>
					</div> -->
				</div><!-- End blog entries list -->
			</div>

		</div>
	</section><!-- End Blog Section -->

</main><!-- End #main -->
