<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
 <div class="container d-flex align-items-center justify-content-between">
  <%= image_tag "logo_new.png", size: "70x70", align:"left"%>
  <h6 style="color:white;">Addis Ababa Construction Permit and Control Autority</h6>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

  <nav id="navbar" class="navbar">
   <ul>
    <li><a class="nav-link scrollto active" href="https://aacp.gov.et/#hero">Home</a></li>
    <li><a class="nav-link scrollto" href="https://aacp.gov.et/#about">How to  Apply</a></li>
    <li><a class="nav-link scrollto" href="https://aacp.gov.et/#services">Services</a></li>
    <li><a class="nav-link  scrollto" href="https://aacp.gov.et/#portfolio">Gallery</a></li>
    <li><a class="nav-link scrollto" href="https://aacp.gov.et/#team">Managment Team</a></li>
    <li class="dropdown"><a href="/"><span>Announcements</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        <li><%= link_to "News", news_index_path%></li>
        <li><%= link_to "Events", events_path%></li>
        <li><%= link_to "Vacancy", vacancies_path%></li>
        <li><a href="#">Tenders</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="/"><span>Resources</span> <i class="bi bi-chevron-down"></i></a>
     <ul>
      <li><a href="#https://drive.google.com/file/d/1xncfxGnl0fr8vOpRd4MIx7ux7UAjcBkq/view?usp=sharing">Application Forms</a></li>
      <li><a href="#https://drive.google.com/file/d/1jj2WUjbczTWQ5zcXXkA9DKU7LNNwLNjQ/view?usp=sharing">Instructions</a></li>
      <li><a href="#https://drive.google.com/file/d/1hinjsSWX0AQxF84KOxB8LQpJ4OefcAyr/view?usp=sharing">Requirements</a></li>
      <li><a href="https://www.youtube.com/watch?v=UNpCbDuDuLE">Tutorial videos</a></li>
      <li><a href="https://drive.google.com/file/d/1djawfKIIKAlxQSmPSuLamaBs_5arR2Cb/view">Structure</a></li>
    </ul>
  </li>
  <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
  <li class="dropdown"><a href="/"><span>Language</span> <i class="bi bi-chevron-down"></i></a>
   <ul>
    <li><%= link_to "English", root_path%></li>
    <li><%= link_to "Amharic", amharic_home_path%></li>
    <li><%= link_to "Oromic", oromia_home_path%></li>
  </ul>
</ul>
<i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->

</div>
</header><!-- End Header -->